html,
body {
  height: 100%;
}

@import 'bootstrap/scss/bootstrap';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

body {
  margin: 0;
  background: #f8f9fa;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select {
  font: inherit;
}
