option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    RootVolumeSize: 10
    RootVolumeType: gp2
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    MatcherHTTPCode: 200 